[Desktop Entry]
Name=NetXMS 6.2
Exec=netxms-client.sh
Terminal=false
Icon=com.netxms.NetXMSClient62
Type=Application
Categories=Network;Monitor;
StartupWMClass=netxms-client
